- type_id = type.new_record? ? 'new' : type.id
.mockup id="modal_#{type_id}"
  .header id="header_#{type_id}"
    .close-btn id="close_#{type_id}"
      .cross id="cross_#{type_id}"
  .bottom id="bottom_#{type_id}"
    .title id="title_#{type_id}"
      = defined?(in_app) ? in_app.title : "Title"
    .content id="content_#{type_id}"
      = defined?(in_app) ? in_app.content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rofficia asperiores aperiam quae voluptatem."
    .buttons
      button.btn.btn-primary id="button_#{type_id}" Button 1

css:
  :root{
      --view-width: 262px;
      --view-height: 447px;
  }
  
  #modal_#{type_id} {
    border-radius: #{type.modal_radius};
    --close_circle_width: #{type.close_circle_width};
    --close_cross_width: #{type.close_cross_width};
    --close_cross_thickness: #{type.close_cross_thickness};
  }

  #header_#{type_id} {
    background-color: grey;
    height: #{type.header_height};
  }

  #title_#{type_id} {
    margin-top: #{type.title_margin_top};
    font-family: #{type.title_font_family};
    font-size: #{type.title_font_size};
    font-color: #{type.title_font_color};
    line-height: #{type.title_line_height};
    text-align: #{type.title_text_align};
  }

  #content_#{type_id} {
    margin-top: #{type.content_margin_top};
    font-family: #{type.content_font_family};
    font-size: #{type.content_font_size};
    font-color: #{type.content_font_color};
    line-height: #{type.content_line_height};
    text-align: #{type.content_text_align};
    margin-bottom: #{type.content_margin_bottom};
  }

  #bottom_#{type_id} {
    height: calc(100% - #{type.header_height});
    padding-top: #{type.bottom_padding_top};
    padding-right: #{type.bottom_padding_right};
    padding-bottom: #{type.bottom_padding_bottom};
    padding-left: #{type.bottom_padding_left};
    background-color: #{type.bottom_background_color}; 
  }

  #button_#{type_id} {
    font-family: #{type.button_font_family};
    font-size: #{type.button_font_size};
    font-color: #{type.button_font_color};
    letter-spacing: #{type.button_letter_spacing};
  }

  #close_#{type_id} {
    height: var(--close_circle_width);
    width: var(--close_circle_width);
  }

  #cross_#{type_id}:before, #cross_#{type_id}:after {
    height: var(--close_cross_width);
    width: var(--close_cross_thickness);
  }