.phone-size {
  border: 2px solid;
  display: flex;
  align-items: center;
  width: var(--view-width);
  height:  var(--view-height);
}

.mockup {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  transition: all .3s;
  height: fit-content;
  width: var(--view-width);
  
  & > * {
    transition: all .3s;
  }

  .header {
    position: relative;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0;
    border: none;
    border: 0px solid #202020;
  }

  .cross {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }
  .cross:before, .cross:after {
    position: absolute;
    content: ' ';
    background-color: #000000;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.add-mockup {
    border-radius: 20px;
    min-height: 440px;
}